<template>
  <div class="about">
    <RepoCreate />
  </div>
</template>

<script>
// @ is an alias to /src
import RepoCreate from "@/components/RepoCreate.vue";

export default {
  name: "Create",
  components: {
    RepoCreate
  }
};
</script>
