<template>
  <div class="home">
    <RepoBrowse />
  </div>
</template>

<script>
// @ is an alias to /src
import RepoBrowse from "@/components/RepoBrowse.vue";

export default {
  name: "Home",
  components: {
    RepoBrowse
  }
};
</script>
