<template>
  <div class="file has-name is-fullwidth is-dark is-right">
    <label class="file-label">
      <input
        @change="handleFileUpload"
        class="file-input"
        ref="file"
        type="file"
        name="uploadedFile"
      />
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label"> Browse... </span>
      </span>
      <span class="file-name has-background-white">
        {{ fileSelectorMessage }}
      </span>
    </label>
  </div>
</template>

<script>
const NO_FILE_SELECTED = "No file selected";

const data = {
  fileSelector: {
    file: undefined,
    message: NO_FILE_SELECTED,
  },
  formData: undefined,
};

export default {
  name: "FileUpload",
  data() {
    return data;
  },
  props: {
    defaultFileName: String
  },
  methods: {
    handleFileUpload() {
      this.fileSelectorMessage = this.$refs.file.files[0].name;
      this.fileSelector.file = this.$refs.file.files[0];
      this.$emit("uploadedFile", {file: this.fileSelector.file});
      console.log(this.fileSelector.file);
    },
  },
  computed: {
    fileSelectorMessage: {
      get: function (){
        return this.defaultFileName === null ? NO_FILE_SELECTED : this.defaultFileName;
      },
      set: function(message){
        this.fileSelector.message = message;
      }
    }
  }
};
</script>
