<template>
  <div class="container" style="">
    <nav class="panel is-info">
      <div class="panel-heading has-background-light">
        <div class="field has-addons">
          <p class="control has-icons-left is-expanded">
            <input
              class="input is-link control"
              type="text"
              placeholder="Search"
              v-model="viewer.search"
            />
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
          <p class="control">
            <span class="control select is-rounded">
              <select v-model="viewer.selectedOption" name="repo-actions">
                <option
                  v-for="(value, name) in viewer.options.sort"
                  v-bind:key="name"
                  v-bind:value="name"
                >
                  sort: {{ value.value }}
                </option>
              </select>
            </span>
          </p>
        </div>
      </div>

      <div
        class="panel-block has-background-white is-justify-content-space-between"
        v-for="file in userfiles"
        v-bind:key="file.id"
      >
        <span>
          <a v-bind:href="getFileDownloadLink(file.userKey, file.id)">
            <span class="panel-icon mt-1">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            {{ file.name }}
          </a>
          <span>
            <span
              v-for="tag in file.tags"
              class="tag is-light"
              v-bind:key="file.tags.indexOf(tag)"
            >
              {{ tag }}
            </span>
          </span>
        </span>
        <button @click="deleteFile(file)" class="delete is-small"></button>
      </div>
    </nav>
  </div>
</template>

<script>
import { deleteFile } from "../services/files.services";
const path = require("path");

const data = {
  viewer: {
    files: [],
    search: "",
    selectedOption: "asc",
    options: {
      sort: {
        asc: {
          value: "A-Z filename",
          func: (a, b) => a.name.localeCompare(b.name),
        },
        desc: {
          value: "Z-A filename",
          func: (a, b) => b.name.localeCompare(a.name),
        },
        ascExt: {
          value: "A-Z extension",
          func: (a, b) =>
            path.extname(a.name).localeCompare(path.extname(b.name)),
        },
        descExt: {
          value: "Z-A extension",
          func: (a, b) =>
            path.extname(b.name).localeCompare(path.extname(a.name)),
        },
      },
    },
  },
};

export default {
  name: "FileUpload",
  data() {
    return data;
  },
  props: {
    userfiles: Array,
  },
  methods: {
    deleteFile(file) {
      deleteFile(file).then((response) => {
        console.log(response);
      });
      this.userfiles.splice(this.userfiles.indexOf(file), 1);
    },
    getFileDownloadLink(userKey, fileId) {
      return "api/download-file/" + userKey + "/" + fileId;
    },
  },
  watch: {
    "viewer.search": function () {
      let empty = this.viewer.search.length === 0;
      this.$emit("filteredFiles", {
        search: this.viewer.search,
        empty: empty,
        type: "filter",
      });
    },
    "viewer.selectedOption": function () {
      this.$emit("filteredFiles", {
        type: "sort",
        selected: this.viewer.selectedOption,
        sort: this.viewer.options.sort[this.viewer.selectedOption].func
      });
    },
  },
};
</script>