<template>
  <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
            <ul>
                <li v-bind:class="navBrowse"><router-link to="/">Browse a Repository</router-link></li>
                <li v-bind:class="navCreate"><router-link to="/create">Create a Repository</router-link></li>
            </ul>
        </div>
    </nav>
</template>

<script>

export default {
  name: "Nav",
  props: {
    navBrowse: String,
    navCreate: String,
  }
};
</script>

