<template>
  <!-- Create Section -->
  <section
    id="create"
    class="hero is-info is-fullheight"
    style="background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%)"
  >
    <div class="hero-head has-text-centered">
      <img src="../assets/logo.png" alt="Logo" width="280px" height="280px" />
    </div>

    <!-- Main Components -->
    <div id="app-create-repo" class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column">
            <div class="field has-addons">
              <div class="control has-icons-left has-icons-right is-expanded">
                <input
                  id="email"
                  name="email"
                  class="input is-fullwidth"
                  v-bind:class="input.style.color"
                  type="email"
                  placeholder="Email"
                  pattern="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$"
                  v-model="input.email"
                  v-on:keyup.enter="input.regex.exec(input.email) === null ? '' : createUser()"
                  required
                />
                <span class="icon is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <div class="control">
                <a
                  class="button is-primary"
                  v-on:click="createUser()"
                  :disabled="submit.style.disabled"
                  >Get key!</a
                >
              </div>
            </div>
            <div class="column has-text-left is-10">
              <p class="is-vcentered">{{ input.notification }}</p>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <small>{{ box.title }}</small>
                    <br />
                    <h1 
                      id="copyArea"
                      @click="copyKey()">
                      {{ box.content }}
                      <a 
                        v-if="!(box.content === '\n\n\n')"
                        class="far fa-copy"></a>
                    </h1>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Components -->
    <div class="hero-foot">
      <Nav :navCreate="consts.isActive" />
    </div>
  </section>
</template>

<script>
import { createUser } from "../services/users.services";
import Nav from "@/components/Nav.vue";

const data = {
  input: {
    email: "",
    notification: "",
    regex: /^[a-zA-Z0-9_.+]+(?<!^[0-9]*)@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/,
    style: {
      color: "",
    },
  },
  submit: {
    style: {
      disabled: true,
    },
  },
  box: {
    title: "User key",
    content: "\n\n\n",
  },
  consts: {
    isActive: "is-active",
  },
};

export default {
  name: "RepoCreate",
  components: {
    Nav,
  },
  data() {
    return data;
  },
  methods: {
    createUser() {
      createUser({ email: this.input.email }).then((response) => {
        this.$emit("createUser", { email: this.input.email });
        this.input.notification = `> an email has been sent to ${this.input.email} !`;
        this.input.email = "";
        this.box.content = response.key;
        console.log(response);
      });
      document.getElementById("copyArea").style.cursor = "pointer";
    },
    copyKey(){
      navigator.clipboard.writeText(this.box.content)
      console.log("copy")
    }
  },
  watch: {
    "input.email": function () {
      if (this.input.regex.exec(this.input.email) === null) {
        this.input.style.color = "is-danger";
        this.submit.style.disabled = true;
      } else {
        this.input.style.color = "is-success";
        this.submit.style.disabled = false;
      }
    },
  },
};
</script>
