<template>
  <div class="container has-text-justified">
    <article class="message is-info" v-if="isOpen">
      <div
        class="message-header"
        style="
          background-image: linear-gradient(120deg, #8fd3f4 0%, #bf9fdd 100%);
        "
      >
        <p>Welcome to Umi! / 海へようこそ！</p>
        <button
          class="delete"
          aria-label="delete"
          @click="closePopUp()"
        ></button>
      </div>
      <div class="message-body">
        <div class="block">
          Umi (海) is a web-based centralized file repository platform.
        </div>
        <div class="block">
          > The purpose of this application is to provide a
          <strong>simple and elegant way to store files internally</strong>. It
          allows the fast creation of a repository protected by a random key.
        </div>
        <div class="block">
          > Umi is <strong>not intended</strong> to be deployed on the Internet.
          Come and see
          <a
            href="https://gitlab.com/KidR/projet-n"
            target="_blank"
            rel="noopener noreferrer"
            >the project details here!</a
          >
        </div>
      </div>
    </article>
  </div>
</template>

<script>
const data = {
  popup: {
    open: true,
  },
};
export default {
  name: "RepoHello",
  data() {
    return data;
  },
  methods: {
    closePopUp: function () {
      this.popup.open = false;
    },
  },
  computed: {
    isOpen: function () {
      return this.popup.open;
    },
  },
};
</script>