<template>
  <!-- Home Section -->
  <section
    id="home"
    class="hero is-primary is-fullheight"
    style="background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%)"
  >
    <div class="hero-head has-text-centered">
      <img src="../assets/logo.png" alt="Logo" width="280px" height="280px" />
    </div>

    <!-- Begin of Vue:app -->
    <div id="app" class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <!-- User Key Component -->
          <div id="col-user-key" class="column is-3">
            <div class="field has-addons">
              <p class="control has-icons-left">
                <input
                  class="input"
                  v-bind:class="inputs.userKey.style.color"
                  v-model="inputs.userKey.value"
                  v-on:keyup.enter="checkUserKey()"
                  placeholder="User's key"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
              <div class="control">
                <a class="button is-dark" @click="checkUserKey()">Go!</a>
              </div>
            </div>
          </div>
           <div id="col-user-key" class="column is-4" v-if="!isUserKey">

          </div>
          <div id="col-user-key" class="column is-5" v-if="!isUserKey">
            <RepoHello />
          </div>
          <!-- FileUpload component -->
          <div class="column is-5" v-if="isUserKey">
            <FileUpload
              :defaultFileName="defaultFileName"
              @uploadedFile="getUploadedFile"
            />
          </div>
          <div class="column is-3 has-text-left" v-if="isUserKey">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static"> # </a>
              </p>
              <p class="control">
                <input
                  class="input"
                  v-bind:class="inputs.tag.style.color"
                  v-model="inputs.tag.value"
                  v-on:keyup.enter="addTag()"
                  type="text"
                  placeholder="Add #Tag to file"
                />
              </p>
            </div>
          </div>
          <div class="column is-1 has-text-right" v-if="isUserKey">
            <button
              class="button is-primary"
              v-on:click="submitData()"
              :disabled="submit.style.disabled"
            >
              Send it!
            </button>
          </div>
        </div>
        <div class="container has-text-center">
          <div class="tags are-medium">
            <!-- Dynamic generation for Tags -->
            <span
              v-for="tag in filetags"
              class="tag"
              v-bind:key="filetags.indexOf(tag)"
            >
              {{ tag }}
              <button
                v-bind:id="generateTagId(tag)"
                @click="deleteTag(tag)"
                class="delete is-small"
              ></button>
            </span>
          </div>
        </div>
        <br />
        <FileViewer
          :userfiles="files"
          @filteredFiles="getFilteredFiles"
          v-if="isUserKey"
        />
        <!-- Display Content File Component -->
      </div>
    </div>
    <!-- End of Vue:app -->
    <!-- Footer Components -->
    <div class="hero-foot">
      <Nav :navBrowse="consts.isActive" />
    </div>
  </section>
</template>

<script>
import FileUpload from "./FileUpload.vue";
import FileViewer from "./FileViewer.vue";
import RepoHello from "./RepoHello.vue";
import { getUser } from "../services/users.services";
import { getFiles, uploadFile } from "../services/files.services";
import { createTag } from "../services/tags.services";
import Nav from "@/components/Nav.vue";

const data = {
  inputs: {
    userKey: {
      regex: /^[\w\d]+$/,
      value: "",
      isUserKey: false,
      style: {
        color: "",
      },
    },
    tag: {
      regex: /[\W]*/,
      value: "",
      style: {
        color: "",
      },
    },
  },
  files: [],
  cloneFiles: [],
  filetags: [],
  userKeySubmitted: undefined,
  formData: undefined,
  submit: {
    style: {
      disabled: true,
    },
  },
  consts: {
    isActive: "is-active",
  },
  defaultFileName: null,
};

export default {
  name: "RepoBrowse",
  data() {
    return data;
  },
  components: {
    FileUpload,
    FileViewer,
    Nav,
    RepoHello
  },
  methods: {
    getFiles() {
      this.files = [];
      getFiles({ key: this.userKeySubmitted }).then((response) => {
        for (let data of response.data) {
          this.files.push({
            id: data.id,
            name: data.name,
            userKey: this.userKeySubmitted,
            tags: data.tags,
          });
        }
        this.files = this.files.sort((a,b) => a.name.localeCompare(b.name));
        this.cloneFiles = this.files.slice();
      });
    },
    submitData() {
      this.formData.append("key", this.userKeySubmitted);
      this.formData.append("tags", this.filetags);
      uploadFile(this.formData).then((response) => {
        console.log(response);
        this.defaultFileName = null;
        this.getFiles();
      });
      this.filetags.forEach((tag) => createTag({ name: tag }));
      this.filetags = [];
    },
    addTag() {
      if (this.inputs.tag.value !== "") {
        for (let tag of this.inputs.tag.value.trim().split(/\s+/)) {
          this.filetags.push(tag);
        }
        this.inputs.tag.value = "";
      }
    },
    deleteTag(tag) {
      this.filetags.splice(this.filetags.indexOf(tag), 1);
    },
    generateTagId(tag) {
      return `tag-${tag}`;
    },
    getUploadedFile(params) {
      this.formData = new FormData();
      this.formData.append("uploadedFile", params.file);
      this.defaultFileName = params.file.name;
    },
    checkUserKey() {
      this.userKeySubmitted = this.inputs.userKey.value;
      getUser({ key: this.userKeySubmitted }).then((response) => {
        this.isUserKey = response.key !== undefined;
        this.getFiles();
      });
    },
    getFilteredFiles(params) {
      switch (params.type){
        case "filter":
          this.files = this.cloneFiles.filter((f) => f.name.includes(params.search) || f.tags.find(tag => tag.includes(params.search)));
          break;
        case "sort":
          this.files = this.cloneFiles.sort(params.sort);
          break;
      }
    },
  },
  watch: {
    "inputs.userKey.value": function () {
      if (!this.isUserKeyPattern) {
        this.inputs.userKey.style.color = "is-danger";
      } else {
        this.inputs.userKey.style.color = "is-info";
      }
    },
    "inputs.tag.value": function () {
      if (this.isTagPattern) {
        this.inputs.tag.style.color = "is-success";
      } else {
        this.inputs.tag.style.color = "is-danger";
      }
    },
    formData: function () {
      if (this.formData !== undefined || this.formData !== null) {
        this.submit.style.disabled = false;
      } else {
        this.submit.style.disabled = true;
      }
    },
  },
  computed: {
    isUserKey: {
      get: function () {
        return this.inputs.userKey.isUserKey;
      },
      set: function (value) {
        if (typeof value === "boolean") {
          this.inputs.userKey.isUserKey = value;
        }
      },
    },
    isUserKeyPattern: function () {
      return this.inputs.userKey.regex.exec(this.inputs.userKey.value);
    },
    isTagPattern: function () {
      return this.inputs.tag.regex.exec(this.inputs.tag.value)[0].length == 0;
    }
  },
};
</script>
